set runtimepath+=~/.vim_runtime
set surround

source ~/.vim_runtime/vimrcs/basic.vim
source ~/.vim_runtime/vimrcs/filetypes.vim
source ~/.vim_runtime/vimrcs/plugins_config.vim
source ~/.vim_runtime/vimrcs/extended.vim

" Insert mode
noremap <C-k> <Up>
noremap <C-j> <Down>
inoremap <C-l> <Right>
inoremap <C-h> <Left>

" Reload .ideavimrc
nnoremap <Space>vs :source ~/.ideavimrc<CR>

try
source ~/.vim_runtime/my_configs.vim
catch
endtry
set visualbell
set noerrorbells

nnoremap <a-h> gT
nnoremap <a-l> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt
nnoremap <c-a-h> :action Back<cr>
nnoremap <c-a-l> :action Forward<cr>

nnoremap \R :action RunClass<cr>
nnoremap \r :action Run<cr>
nnoremap \D :action DebugClass<cr>
nnoremap \d :action Debug<cr>

" bookmarks
nnoremap <leader>bs :action ShowBookmarks<cr>
nnoremap <leader>bn :action ToggleBookmark<cr>
nnoremap <leader>bt :action ToggleBookmarkWithMnemonic<cr>

" commit
nnoremap <leader>c :action Vcs.QuickListPopupAction<cr>

" breakpoint
nnoremap <leader>tO :action ToggleTemporaryLineBreakpoint<cr>
nnoremap <leader>to :action ToggleLineBreakpoint<cr>
nnoremap <leader>tp :action ViewBreakpoints<cr>

" misc
nnoremap <leader>fr :action ForceRunToCursor<cr>
nnoremap <leader>fs :action FileStructurePopup<cr>
nnoremap <leader>rp :action Replace<cr>
map <c-q> :action KJumpAction<cr>
