[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][3]
immutability=1
plugin=org.kde.plasma.analogclock

[Containments][1][Applets][3][Configuration]
PreloadWeight=26

[Containments][1][Applets][4][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.kate.desktop,org.kde.discover.desktop
favoritesPortedToKAstats=true

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=26

[Containments][1][Applets][57][Configuration][General]
launchers59=applications:firefox.desktop,applications:org.kde.dolphin.desktop,applications:emacs.desktop,applications:inkscape.desktop,applications:org.kde.okular.desktop,applications:netease-cloud-music.desktop,applications:vim.desktop,applications:hyper.desktop,applications:jetbrains-pycharm.desktop

[Containments][1][ConfigDialog]
DialogHeight=540
DialogWidth=461

[Containments][1][Configuration]
PreloadWeight=26

[Containments][1][General]
advanced=false
appletOrder=57;3
autoDecreaseIconSize=false
iconMargin=0
iconSize=40
maxLength=90
panelSize=100
shadowOpacity=35
shadowSize=45
showGlow=false
shrinkThickMargins=true
zoomLevel=1

[Containments][6][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.vault,org.kde.plasma.keyboardindicator
knownItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.vault,org.kde.plasma.keyboardindicator

[LayoutSettings]
activities=
background=
color=lightskyblue
disableBordersForMaximizedWindows=false
globalLaunchers=
lastUsedActivity=b50d427e-63a4-4a58-857f-9bd8caf33efc
launchers=
showInMenu=true
textColor=fcfcfc
version=2
